/source/WorkT/WorkT/obj/Debug/*.cache
/source/WorkT/Community.CsharpSqlite.WP/obj/Debug/*.cache
/source/WorkT/JediNinja.WP7.CodeGeneration.Utils/obj/Debug/*.cache
/source/WorkT/JediNinja.WP7.CodeGeneration/obj/Debug/*.cache
/source/WorkT/Workt.CodeGeneration.Model/obj/Debug/*.cache
/source/WorkT/WorkT/obj/Debug/*.cache
/source/WorkT/WorkT/obj/Debug/*.Cache
/source/WorkT/WorkT/obj/Debug/*.cache
